<nav class="navbar" id="navbar">
    <div class="container">
        <div class="nav-items-container">
            <div class="d-flex align-items-center">

                <div class="nav-item mr-2">
                    <a href="https://app.shippedbrain.com" target="_blank" class="nav-title brand">
                        <span class="fade-in brand-primary">S</span>
                        <span class="fade-in brand-primary">h</span>
                        <span class="fade-in brand-primary">i</span>
                        <span class="fade-in brand-primary">p</span>
                        <span class="fade-in brand-primary">p</span>
                        <span class="fade-in brand-primary">e</span>
                        <span class="fade-in brand-primary">d </span>
                        <span class="fade-in brand-alt">B</span>
                        <span class="fade-in brand-alt">r</span>
                        <span class="fade-in brand-alt">a</span>
                        <span class="fade-in brand-alt">i</span>
                        <span class="fade-in brand-alt">n</span>
                    </a>
                </div>

                <div class="nav-item mr-2">
                    <a href="https://app.shippedbrain.com/models" target="_blank" class="nav-link">Models</a>
                </div>

                <div class="nav-item mr-3">
                    <a href="https://app.shippedbrain.com/requests" target="_blank" class="nav-link">Model Requests</a>
                </div>

            </div>

            <div class="d-flex align-items-center">

                <div class="nav-item mr-1">
                    <a href="https://app.shippedbrain.com/deploy" target="_blank" class="font-size-0-9 nav-link">Deploy Model</a>
                </div>

                <div class="nav-item mr-1">
                    <a href="https://app.shippedbrain.com/dashboard/summary" target="_blank" class="font-size-0-9 nav-link">Dashboard</a>
                </div>

                <div class="nav-item mr-2">
                    <a href="https://app.shippedbrain.com/faq" target="_blank" class="nav-link pre-active">FAQ</a>
                </div>

                <div class="font-size-0-8">
                    <a href="https://app.shippedbrain.com/login" target="_blank" class="btn btn-magenta btn-sm mr-1">Sign In</a>
                    <a href="https://app.shippedbrain.com/register" target="_blank" class="btn btn-solid-magenta btn-sm color-white">Create Account</a>
                </div>

            </div>

        </div>
    </div>
</nav>
