<footer class="w-100 p-2">
    <div class="text-center">
        <a href="https://app.shippedbrain.com" target="_blank" class="brand">
            <span class="fade-in brand-primary">S</span>
            <span class="fade-in brand-primary">h</span>
            <span class="fade-in brand-primary">i</span>
            <span class="fade-in brand-primary">p</span>
            <span class="fade-in brand-primary">p</span>
            <span class="fade-in brand-primary">e</span>
            <span class="fade-in brand-primary">d </span>
            <span class="fade-in brand-alt">B</span>
            <span class="fade-in brand-alt">r</span>
            <span class="fade-in brand-alt">a</span>
            <span class="fade-in brand-alt">i</span>
            <span class="fade-in brand-alt">n</span>
        </a>
    </div>

    <div class="text-center mt-2">
		<a href="https://shippedbrain.medium.com/" target="_blank" class="link">Blog</a>
    </div>

    <div class="text-center">
		<span class="color-grey-darkened d-block">Contact</span>
		<small>
			<a href="mailto:info@shippedbrain.com" class="color-grey-light link">info@shippedbrain.com</a>
		</small>
	</div>
</footer>
